<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>919112136270-dgabuca9t2s3m123e968o8hjcvi93un6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.919112136270-dgabuca9t2s3m123e968o8hjcvi93un6</string>
	<key>API_KEY</key>
	<string>AIzaSyCfrUzWsE1ZWENbhvrpxejd8hDuzMBw8F0</string>
	<key>GCM_SENDER_ID</key>
	<string>919112136270</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>skyblue.SHIELD</string>
	<key>PROJECT_ID</key>
	<string>shield-9a207</string>
	<key>STORAGE_BUCKET</key>
	<string>shield-9a207.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:919112136270:ios:8c7443084c398b5e</string>
	<key>DATABASE_URL</key>
	<string>https://shield-9a207.firebaseio.com</string>
</dict>
</plist>